.dropBar {
    display:flex;
    flex-direction: column;
    border: solid grey 2px;
    padding: 10px;

    align-items: center;
    width: 20vw;
}

.dropButton {
    width: 50%;
    background-color: darkgrey;
    transition: background-color 1s ease-out;
    transition: color 1s ease-out;
    transition: transform 0.2s ease-in-out;
}

.dropButton:hover {
    background-color: white;
    color: black;
    transform: scale(1.2)
}